# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# dotenv files (quando usar variáveis de ambiente)
.env

# Sequelize
config/config.json

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

script.md
plano.md