# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# dotenv files (quando usar variáveis de ambiente)
.env

# Sequelize
config/config.json

# Banco local (caso crie um SQLite por engano)
*.sqlite
*.sqlite3

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db
